@import "../../scss/component-base";

.get-license
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.5);
  backdrop-filter: blur(6px);
  cursor: pointer;

  .btn
  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
