@import "../../scss/component-base";

.example-card
{
  .card-img-top
  {
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    img
    {
      position: absolute;
      max-width: 100%;
      z-index: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:after
    {
      content:"";
      position: absolute;
      width:100%;
      height: 100%;
      left: 0;
      top:0;
      backdrop-filter: blur(2px);
    }
  }
  &:hover,
  &:focus,
  &:active
  {
    .card-img-top:after
    {
      backdrop-filter: none;
    }
  }
  .card-title
  {
    text-align: center;
  }
  .card-body
  {

    text-align: justify;
  }

}
