@import "./scss/component-base";
.profile
{
    text-transform: uppercase;
    .navbar-dark &.navbar-text
    {
        color: $primary;

    }
    img {
        height: 1.5em;
        vertical-align: top;
    }

}

@media (max-width: map-get($grid-breakpoints, 'md') - 1px) {

.navbar-expand-md .navbar-collapse
{
    margin-top: map-get($spacers, 2);
    .nav-item,
    .navbar-text
    {
        text-align: right;
    }

}

}
