@import "./scss/component-base";

.page
{
  .page-header,
  .page-content,
  .page-footer
  {
    padding: map-get($spacers, 2);
  }
  .page-footer
  {
    color: $text-muted;
    font-size: $font-size-sm;
  }
}
